:root {
  font-family: "Hiragino Maru Gothic ProN", "Hiragino Sans", "Noto Sans JP", sans-serif;
  color: #222;
  background: #f4fbff;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  padding: 24px;
}

.title {
  margin: 0;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.1em;
}
